[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
python-dotenv = "*"
libvoikko = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
devserver = "uvicorn main:app --reload"
wordmagic = "python wordmagic.py"
